*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --base-gray-100: #E2E4E9;
    --base-gray-200: #C0C4CE;
    --base-gray-300: #878EA1;
    --base-gray-400: #292C34;
    --base-gray-500: #16181D;
    --base-gray-600: #0D0E11;

    --font-asap: 'Asap', sans-serif;
    --title-lg-asap: 700 56px/120% var(--font-asap);
    --title-md-asap: 800 24px/120% var(--font-asap);
    --title-sm-asap: 800 16px/120% var(--font-asap);

    --font-inconsolata: 'Inconsolata', sans-serif;
    --subtitulo-inconsolata: 400 20px/120% var(--font-inconsolata);

    --font-mavenpro: 'Maven Pro', sans-serif;
    --text-md-mavenpro: 400 16px/140% var(--font-mavenpro);
    --text-sm-mavenpro: 400 14px/140% var(--font-mavenpro);
} 

.red{
    color: var(--red);
}

.base-gray-200{
    color: var(--base-gray-200);
}

.base-gray-100{
    color: var(--base-gray-100);
}

.base-gray-300{
    color: var(--base-gray-300);
}

.base-gray-400{
    background-color: var(--base-gray-400);
}

.base-gray-500{
    background-color: var(--base-gray-500);
}

.subtitulo{
    font: var(--subtitulo-inconsolata);
    margin-bottom: 8px;
}

.title-lg{
    font: var(--title-lg-asap);
}

.text-sm{
    font: var(--text-sm-mavenpro);
}

.text-md-mavenpro{
    font: var(--text-md-mavenpro);
}