#intro{
    background: url(../assets/imagens/Background_Intro.png) no-repeat center/ cover; 
    height: 100vh;

    display: flex;

    .info{
        margin: auto;
        
        header{
            text-align: center;
            
            .avatar{
                margin: 0 auto 80px;
                border: 2px solid var(--red);
                border-radius: 50%;
                height: 112px;
                width: 112px;
                display: flex;
                position: relative;

                img{
                    height: 103px;
                    width: 103px;
                    border-radius: 50%;
                    margin: auto;
                }

                span{
                    background: url(../assets/icones/Code.svg) no-repeat center/contain;
                    width: 35px;
                    height: 25px;
                    position: absolute;
                    right: -8px;
                    bottom: 0px;
                }
            }
            
            .text{
                width: 680px;
            }
        }
    }
}

